<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IfcConvertPath>C:/Users/ripo9018/source/repos/IfcImportTest/Assets/Editor/IfcConvert/IfcConvert-x64.exe</IfcConvertPath>
  <OutputPath>C:\Users\ripo9018\source\repos\IFC Unity Editor Plugin\Assets\Meshes</OutputPath>
</Config>